
<!DOCTYPE html>
<html>
<head>
	<title>Car_showroom</title>

	<!-- DEFINING THE CHAR SET-->
	<meta charset="utf-8">

	<!--WEB FONTS REFERENCES-->
	<!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

	<!-- SETTING VIEWPORT-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS REFERENCE TO BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" >
	
</head>
<body>
	
	<!-- STICKY HEADER -->

	<div class="header">
		<div class="Navbar" id="Nav">
	    	<div class="logo-img-new">
				<img id="logo-new" src="../assets/images/logo-3.png">
			</div>
			<div></div>
		    <div class="Navbar__Link Navbar__Link-toggle">
		      	<i class="fas fa-bars fa-2x" id="toggler"></i>
		    </div>
		    <div class="Navbar__Items" id="nav__toggler">
			    	<div class="Navbar__Link">
			      		<a class="a-header" routerLink="home">HOME</a>
			    	</div>
			    	<div class="Navbar__Link">
			      		<a class="a-header" routerLink="adminlog">ADMIN LOGIN</a>
			    	</div>
			    	<div class="Navbar__Link">
			      		<a class="a-header" routerLink="login">USER LOGIN</a>
			    	</div>
			    	<div class="Navbar__Link">
			      		<a class="a-header" routerLink="signup">SIGNUP</a>
			    	</div>
			    	<div class="Navbar__Link">
			      		<a class="a-header" routerLink="contact">CONTACT US</a>
			    	</div>
			  
			</div>
	  	</div>
  	</div>

	<!-- END OF STICKY HEADER -->

	<!-- PARALLAX LOADER-->

	<div class="parallax_loader " id="home">
		<div class="container-fluid bg-overlay">
			<div class="row name_comp">
				<div class="col-md-2 "></div>
				<div class="col-md-8"><h1 class="display-1 g-font-weight--500 g-color--primary"><b>DM CARS</b></h1></div>
				<div class="col-md-2"></div>
			</div>
			<div class="row name_comp">
				<div class="col-xs-12">
					<h3 class="display-4 g-color--white">TN's famous car showroom with over 1.5 LAKHS+ trusted users.....</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- END OF PARALLAX LOADER-->

	<!-- ABOUT CAR -->

	<div class="g-row-col--xs-10 about_sec" id="about">
		
			<div>
				<h1 class="display-3 g-color--primary g-font-weight--300 para_content"><b>ABOUT US</b></h1>
			</div>
			<div class="g-color--dark-light g-font-family--Alegreya" style="font-size: 1.2em;" >
				<p>Our vision is to construct a complete ecosystem for consumers and car manufacturers, 
					dealers and related businesses such that consumers have easy and complete access to 
					not only buying and selling cars, but also manage their entire ownership experience, 
					be it accessories, tyres, batteries, insurance or roadside assistance.</p>
			</div>
		
	</div>

	<!-- END ABOUT -->

	<!-- FOOTER-->
	<footer class="g-bg-color--dark-light g-color--white-opacity">
		<div class="foot">
			<div class="padd__needed">
				 <img id="logo" src="../assets/images/logo-3.png"> 
			</div>
			<div class="connectivity padd__needed">
				<div class="connect">
					<i class="fab fa-facebook-square"></i>
					<a class="a-footer" href="#">FACEBOOK</a>
				</div>
				<div class="connect">
					<i class="fab fa-linkedin"></i>
					<a class="a-footer" href="#">LINKED IN</a>
				</div>
				<div class="connect">
					<i class="fab fa-twitter-square"></i>
					<a class="a-footer" href="#">TWITTER</a>
				</div>
				<div class="connect">
					<i class="fab fa-instagram"></i>
					<a class="a-footer" href="#">INSTAGRAM</a>
				</div>
			</div>
			<div class="padd__needed">
				<h5 class="g-color--primary">&copy CAR SELLERS</h5>
			</div>
		</div>
	</footer>
	<!--END OF FOOTER-->

</body>
</html>