<!DOCTYPE html>
<html>
<head>
	<title>SELL CAR</title>

	<!-- DEFINING THE CHAR SET-->
	<meta charset="utf-8">

	<!--WEB FONTS REFERENCES-->
	<!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

	<!-- SETTING VIEWPORT-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS REFERENCE TO BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" >
	
	<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">

</head>
<body>

	<!-- STICKY HEADER -->
	<div class="header">
		<div class="Navbar">
	    	<div class="logo-img-new">
				<img id="logo-new" src="../assets/images/logo-3.png"/>
			</div>
			<div></div>
		    <div class="Navbar__Link Navbar__Link-toggle">
		      	<i class="fas fa-bars fa-2x"></i>
		    </div>
		    <div class="Navbar__Items">
				<div class="Navbar__Link">
					<a class="a-header" [routerLink]='["/"]' routerLinkActive="active">HOME</a>
				</div>
				<div class="Navbar__Link">
					<a class="a-header"[routerLink]='["/adminlog"]' routerLinkActive="active">ADMIN LOGIN</a>
				</div>
				<div class="Navbar__Link">
					<a class="a-header" [routerLink]='["/login"]' routerLinkActive="active">USER LOGIN</a>
				</div>
				<div class="Navbar__Link">
					<a class="a-header" [routerLink]='["/signup"]' routerLinkActive="active">SIGNUP</a>
				</div>
				<div class="Navbar__Link">
					<a class="a-header" [routerLink]='["/contact"]' routerLinkActive="active">CONTACT US</a>
				</div>
			</div>
	  	</div>
  	</div>
	<!-- END OF STICKY HEADER -->


	<div class="g-bg-color--blue-lagoon box">
	<h1 class="heading g-font-weight--500">
		ADD CAR
	</h1>
	<div class="car-details">
		<form action="http://127.0.0.1:5000/add1" method="post">

			<!-- CAR MODEL NAME -->
			<div class="line-form">
				<div class="label-all">
					<label for="carName">Car Model Name</label>
				</div>
				<div>
					<input type="text" name="carName" id="carName" placeholder="Enter car model" required>
				</div>
			</div>

			<!-- CAR AGE -->
			<div class="line-form">
				<div class="label-all">
					<label for="carName">CAR ID</label>
				</div>
				<div>
					<input type="text" name="carID" id="carName" placeholder="Enter car id" required>
				</div>
			</div>

			<!-- DATE OF CAR DEAL -->
			<div class="line-form">
				<div class="label-all">
					<label for="dateAvailable">Year of Manufacture</label>
				</div>
				<div>
					<input type="date" id="dateAvailable" name="yom" min="1899-01-01" max="2020-13-13" id="dateAvailable" placeholder="Enter date here" required>
				</div>
			</div>

			<!-- END OF CAR DEAL -->

			<!-- AMOUNT -->
			<div class="line-form">
				<div class="label-all">
					<label for="price">Fix Price</label>
				</div>
				<div>
					<input type="number" name="price" min="50000" max="3000000" step="50000" placeholder="Enter Price of Car" required>
				</div>
			</div>

			<!-- CAR IMAGE -->
			<div class="line-form">
				<div class="label-all">
					<label for="upload">Upload an image of car</label>
				</div>
				<div>
					<input type="file" class="upload" name="pic" accept=".jpg,.png|image/*" required>
				</div>
			</div>

			<!-- SUBMIT BUTTON -->
			<div class="form-btn">
				<button class="submit-btn" >ADD</button>
			</div>

			<div class="text-center p-t-136">
				<a class="txt2" [routerLink]='["/"]' routerLinkActive="active">
					HOME PAGE
				</a>
			</div> 
		</form>
		<br>
	<br>
	</div>
	</div>

	<!-- FOOTER-->
	
	<footer class="g-bg-color--dark-light g-color--white-opacity">
		<div class="foot">
			<div class="padd__needed">
				<!-- <img id="logo" src="img/logo-3.png"> -->
			</div>
			<div class="connectivity padd__needed">
				<div class="connect">
					<i class="fab fa-facebook-square"></i>
					<a class="a-footer" href="#">FACEBOOK</a>
				</div>
				<div class="connect">
					<i class="fab fa-linkedin"></i>
					<a class="a-footer" href="#">LINKED IN</a>
				</div>
				<div class="connect">
					<i class="fab fa-twitter-square"></i>
					<a class="a-footer" href="#">TWITTER</a>
				</div>
				<div class="connect">
					<i class="fab fa-instagram"></i>
					<a class="a-footer" href="#">INSTAGRAM</a>
				</div>
			</div>
			<div class="padd__needed">
				<h6 class="g-color--primary">&copy TRADERS</h6>
			</div>
		</div>
	</footer>
	<!--END OF FOOTER-->

</body>
</html>
